*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vh;
    height: 100vh;
    background: linear-gradient(to bottom,rgb(255, 255, 255)  0%,rgb(19, 165, 255) 100%);
    box-sizing: border-box;
    user-select: none;
}